.door{
    background-image: url(../../../public/sprites/door.png);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    height:5vw;
    width:10vw;
}

.doorleft{
    transform: rotate(-90deg) translate(0,-51%);
}

.doorright{
    transform: rotate(90deg) translate(-1%,74%);
}

.doorup{
    transform: translate(0,3%);
}

.doordown{
    transform: rotate(180deg) translate(0,20%)
}