.wall{
    position:absolute;
    display: flex;
    justify-content: space-between;
}

.wallleft{
    width:4vw;
    height:100%;
    left:0;

    flex-direction: column;
}

.wallright{
    width:4vw;
    height:100%;
    right:0;

    flex-direction: column;;
}

.wallup{
    width:100%;
    height:4vw;
    top:0;

    flex-direction: row;
}

.walldown{
    width:100%;
    height:4vw;
    bottom:0;

    flex-direction: row;
}