html{
    background-color: black;
    overflow: hidden;
}

.testroom{
    width:100vw;
    height:46vw;

    background-image: url(../../../public/sprites/dungeon.png);
    background-repeat: no-repeat;
    background-size:contain;
    image-rendering: pixelated;

    position:absolute;
}

#left{
    left:-100vw;
}

#right{
    left:100vw;
}

#up{
    top:-100vh;
}

#down{
    top:100vh;
}