html{
    background-color: black;
    overflow: hidden;
}

.testroom{
    width:100vw;
    height:48vw;
    background-color: green;
    position:absolute;
}

#left{
left:-100%;
}
#right{
left:100%;
}
#up{
top:-100%;
}
#down{
top:100%;
}