iframe{
  /* suppress React error overlay in developer mode - back and forward buttons cause error which resolves itself immediately */
  display: none;
}

.hidden{
  display: none;
}

@font-face {
  font-family: infinity;
  src: url(../public/fonts/MADEINFINITY\ PERSONALUSE-Regular.otf);
}

@font-face {
  font-family: c64;
  src: url(../public/fonts/C64_Pro_Mono-STYLE.otf);
}