.raisedSign{
    font-family: c64;
    position: absolute;
    line-height: 1.5vw;

    border-image-source: url(../../../public/sprites/raised-platform.png);
    border-image-slice:32;
    border-image-width:5vw;
    border-image-repeat:repeat repeat;

    background-image: url(../../../public/sprites/raised-platform-top.png);
    background-repeat: repeat repeat;
    background-size: 10vw;

    image-rendering: pixelated;

    box-sizing: border-box;

    margin:0;
    padding:2vw 2.5vw;
}

.highlighted{
    background-color: rgba(216, 94, 216, 0.7);
    background-blend-mode: multiply;
}

.small p{
    font-size: 0.8vw;
}

.raisedSign *{
    font-size: 1.2vw;
    font-family: c64;
}

.raisedSign p{
    text-indent: 3em;
}

.raisedSign a{
    color:#533;
    text-decoration: none;
}

.raisedSign a:hover{
    color:#a33;
}

.raisedSign a p{
    padding:0.5em 2em;
    text-indent: 0;
}

.raisedSign ul{
    padding: 0;
    list-style-type: none;
    line-height: 1.5em;
    text-indent: 0.3em;
}

.raisedSign h1{
    font-weight: normal;
    text-align: center;
    padding-bottom:0.3em;
}

.raisedSign .title{
    color:#300;
    font-size: 5vw;
    font-family: heritage;
    padding:0em 1em 0.25em 1em;
}

.raisedSign .centered{
    text-indent: 0;
    text-align: center;
    padding:0em 1em;
}

#paddedWrapper{
    padding: 1vw;
}

.keyicon{
    display: inline;
    width:6vw;
    vertical-align: middle;
}

.inline{
    display: inline;
}