#avatar{
    /* force avatar to front */
    z-index: 100;

    width:4.49vw;
    height:6vw;

    background: url(../../../public/sprites/Avatar.png) 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;

    position:absolute;
    top:10%;
    left:48%;

    animation: idle 0.5s steps(3) infinite;
}

@keyframes idle {
    100% {background-position: 97.5%}
}