#avatar{
    /* force avatar to front */
    z-index: 100;

    width:4.49vw; 
    height:6vw;

    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    filter:drop-shadow(3px -3px 3px #202);

    position:absolute;
    top:2vw;
    left:48vw;
}

.idle{
    background: url(../../../public/sprites/Avatar-idle.png) 0 0;
    animation: idle 0.5s steps(4) infinite;
}

.moving{
    background: url(../../../public/sprites/Avatar-run.png) 0 0;
    animation: run 0.75s steps(6) infinite;
}

.flipped{
    transform: scaleX(-1);
}

#shadow{
    background-image: url(../../../public/sprites/shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75%;

    width:3vw;
    height:2vw;
    position: relative;
}

@keyframes idle {
    100% {background-position: 130%}
}

@keyframes run {
    100% {background-position: 118%}
}